﻿@model MstSite.Models.KodePosModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Kode Pos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kode" class="control-label"></label>
                <input asp-for="Kode" class="form-control digit" />
                <span asp-validation-for="Kode" class="text-danger"></span>
                <span id="errormsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelurahan" class="control-label"></label>
                <input asp-for="Kelurahan" class="form-control" />
                <span asp-validation-for="Kelurahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kecamatan" class="control-label"></label>
                <input asp-for="Kecamatan" class="form-control" />
                <span asp-validation-for="Kecamatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisWilayah" class="control-label"></label>
                <input asp-for="JenisWilayah" class="form-control" />
                <span asp-validation-for="JenisWilayah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaKabupaten" class="control-label"></label>
                <input asp-for="NamaKabupaten" class="form-control" />
                <span asp-validation-for="NamaKabupaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propinsi" class="control-label"></label>
                <select asp-for="Propinsi" multiple="multiple" asp-items="@ViewBag.PropinsiList">
                    <option>Please select</option>
                </select>
                <span asp-validation-for="Propinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
