﻿@model MstSite.Models.KodePosModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p>@ViewBag.InfoMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KodePosModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kelurahan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kelurahan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kecamatan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kecamatan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JenisWilayah)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JenisWilayah)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NamaKabupaten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamaKabupaten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propinsi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Propinsi)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="ID" class="form-control hidden-block" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="Index">Back to List</a>
    </form>
</div>
