﻿@model MstSite.Models.KodePosModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kode Pos</h4>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kode" class="control-label"></label>
                <input asp-for="Kode" class="form-control digit" TextMode="Number" />
                <span asp-validation-for="Kode" class="text-danger"></span>
                <span id="errormsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelurahan" class="control-label"></label>
                <input asp-for="Kelurahan" class="form-control" />
                <span asp-validation-for="Kelurahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kecamatan" class="control-label"></label>
                <input asp-for="Kecamatan" class="form-control" />
                <span asp-validation-for="Kecamatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisWilayah" class="control-label"></label>
                <input asp-for="JenisWilayah" class="form-control" />
                <span asp-validation-for="JenisWilayah" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaKabupaten" class="control-label"></label>
                <input asp-for="NamaKabupaten" class="form-control" />
                <span asp-validation-for="NamaKabupaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propinsi" class="control-label"></label>
                <input asp-for="Propinsi" class="form-control" />
                <br>
                <select id="resultPropinsi" multiple style="display:none;"></select>
                <span asp-validation-for="Propinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#Propinsi").on("keypress", function () {
        // get the value ftom input
        var text = $(this).val();

         if (text.length > 2)
        {
            $.get("@Url.Action("Propinsi")", { text: text }, function (data) {

                //add all data
                for (i = 0; i < data.length; i++)
                {
                    $("#resultPropinsi").append('<option>' + data[i] + "</option>");
                }

                //if hidden show the select
                if ($("#resultPropinsi").is(":hidden"))
                {
                    $("#resultPropinsi").show();
                }
            });
        }
    });

    $(document).on("click", "#resultPropinsi > option", function () {

        //add selected value to #search
        $("#Propinsi").val($(this).val());

        //clear and hide #result
        $("#resultPropinsi").empty().hide();
    });
    </script>
}