﻿@{
    ViewData["Title"] = "Home Page - MST Site";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MST Site</h1>
</div>



@{
    ViewData["Title"] = "Index";
}
<a href="/KodePos/Print" id="btnPrint"><button>Print</button></a>


<a href="/Login"><button>Login</button></a>
<a href="/KodePos/Create"><button>New Kode Pos</button></a>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Kode
            </th>
            <th>
                Kelurahan
            </th>
            <th>
                Kecamatan
            </th>
            <th>
                Jenis Wilayah
            </th>
            <th>
                Nama Kabupaten
            </th>
            <th>
                Propinsi
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "ajax": {
                url: "/AsJson",
                type: 'Post',
                headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
            },
            "pageLength": 5,
            "columns": [
                { 'data': 'ID' },
                { 'data': 'Kode' },
                { 'data': 'Kelurahan' },
                { 'data': 'Kecamatan' },
                { 'data': 'JenisWilayah' },
                { 'data': 'NamaKabupaten' },
                { 'data': 'Propinsi' },
                {
                    'data': 'ID',
                    "render": function (data, type, row, meta) {
                        return '<a href="/KodePos/edit?id=' + row.ID + '">Edit</a> | <a href="/KodePos/delete?id=' + row.ID + '">Delete</a>';
                    },

                }
            ]
        });

        $('#btnPrint').click(function (e) {
            e.preventDefault();

            var oriink ='@Url.Action("Print", "KodePos")/';

            var sKeyword = $('#myTable_filter input').val();
            $("a").attr("href", oriink + sKeyword);
            window.location.href = oriink +sKeyword;
        });
    });
    </script>
}
